<div class="card" *ngIf="!registered">
  <form class="form" (click)="addUser(user)">
    <div class="card">
      <label for="first_name">First Name:</label>
      <input id='first_name' type="text" name="first_name" [(ngModel)]="user.fname" placeholder="Enter your first name">
      <label for="last_name">Last Name:</label>
      <input id='last_name' type="text" name="last_name" [(ngModel)]="user.lname" placeholder="Enter your last name">
      <label for="email">Email: </label>
      <input id='email' type="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Enter a password">
      <label for="passwordConfirm">Please Re-enter your password</label>
      <input type="password" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="user.passwordConfirm">
      <button type="submit" name="submit">Submit</button>
    </div>
  </form>
  <button (click)="registered = true" name="button">Login</button>
</div>
<div class="card" *ngIf="registered">
  <form class="" (click)="loginUser(user)">
  <div class="card">
      <label for="email">Email:</label>
      <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email">
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password">
      <button type="submit" name="login">Login</button>
  </div>
</form>
  <button (click)="registered = false" name="register">Register</button>

</div>
